.principal-animal {
    background-color: transparent;
    min-width: 800px;
}
.principal-animal .content-animal .animal-select-group {
    display: none;
}
.principal-animal .content-animal .content-products {
    display:flex;
}
.principal-animal .content-animal .content-products .product {
    margin-right: 20px;
    background-color: white;
    text-align: center;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}